<form id="auth-form">
	<label>
		{{ i18n.loginFormLoginLabel.message }}<br/>
		<input type="text" name="login" class="input-field" value="" />
	</label>
	<label>
		{{ i18n.loginFormPasswordLabel.message }}<br/>
		<input type="password" name="password" class="input-field" value="" />
	</label>
	<div class="buttons-wrapper">
		<button class="btn btn_fluid" type="submit">{{ i18n.loginFormLoginBtnText.message }}</button>
		<button class="js-register btn btn_fluid btn_link">{{ i18n.loginFormRegisterBtnText.message }}</button>
	</div>
</form>