<div id="user-info-panel" class="user-info-panel">
	<div class="user-info-item">{{ name }}</div>
	<div class="user-info-item">{{ email }}</div>
	<div class="buttons-wrapper">
		<button class="btn btn_fluid logout js-logout">{{ i18n.userInfoPanelLogoutBtnText.message }}</button>
	</div>
</div>